.max-width-8rem {
    max-width: 16rem;
}

.personal-card {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: auto;
    border: 1px solid #f8f9fa !important;
}

.light-grey-font {
    color: #cfd8dc;
}

.card-header{
    background: rgba(0,0,0,0);
    color: white;
}

.custom-file-padding{
    padding: 10px;
}