.bar{
     position: absolute;
    top: 100px;
    left: 10px;
    z-index: 10;
}

#synonym, #translate{
    transition-duration: 0.2s;
    left: 0;
    padding: 10px;
    width: 250px;
    margin: 10px;
}

ul{
   list-style-position: inside;
    text-align: left;
}

.hide{
    position:absolute;
    height: 100.5%;
    top:0;
    right:-30px;
    width: 25px;
    vertical-align: middle;
    cursor: pointer; 
}

#hide-text, #hide-text-2{
    margin: auto;
}